<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="serviceRequiredFormGroup">
    <form [formGroup]="serviceRequiredFormGroup">
      <ng-template matStepLabel>Service Required</ng-template>
      <app-service-required
        [formGroup]="serviceRequiredFormGroup"
      ></app-service-required>
      <div>
        <button class="btn my-btn btn-nxt me-4 mt-3" mat-button matStepperNext>
          Next<i class="fas fa-arrow-right ms-2"></i>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="applicantDetailsFormGroup">
    <form [formGroup]="applicantDetailsFormGroup">
      <ng-template matStepLabel>Applicant Details</ng-template>
      <app-applicant-details
        [formGroup]="applicantDetailsFormGroup"
      ></app-applicant-details>
      <div>
        <button
          class="btn my-btn btn-prev me-4 mt-3"
          mat-button
          matStepperPrevious
        >
          <i class="fas fa-arrow-left me-2"></i>Prev
        </button>
        <button class="btn my-btn btn-nxt me-4 mt-3" mat-button matStepperNext>
          Next<i class="fas fa-arrow-right ms-2"></i>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="familyDetailsFormGroup">
    <form [formGroup]="familyDetailsFormGroup">
      <ng-template matStepLabel>Family Details</ng-template>
      <app-family-details
        [formGroup]="familyDetailsFormGroup"
      ></app-family-details>
      <div>
        <button
          class="btn my-btn btn-prev me-4 mt-3"
          mat-button
          matStepperPrevious
        >
          <i class="fas fa-arrow-left me-2"></i>Prev
        </button>
        <button class="btn my-btn btn-nxt me-4 mt-3" mat-button matStepperNext>
          Next<i class="fas fa-arrow-right ms-2"></i>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="addressDetailsFormGroup">
    <form [formGroup]="addressDetailsFormGroup">
      <ng-template matStepLabel>Address Details</ng-template>
      <app-address-details
        [formGroup]="addressDetailsFormGroup"
      ></app-address-details>
      <div>
        <button
          class="btn my-btn btn-prev me-4 mt-3"
          mat-button
          matStepperPrevious
        >
          <i class="fas fa-arrow-left me-2"></i>Prev
        </button>
        <button class="btn my-btn btn-nxt me-4 mt-3" mat-button matStepperNext>
          Next<i class="fas fa-arrow-right ms-2"></i>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="emergencyContactFormGroup">
    <form [formGroup]="emergencyContactFormGroup">
      <ng-template matStepLabel>Emergency Contact</ng-template>
      <app-emergency-contact
        [formGroup]="emergencyContactFormGroup"
      ></app-emergency-contact>
      <div>
        <button
          class="btn my-btn btn-prev me-4 mt-3"
          mat-button
          matStepperPrevious
        >
          <i class="fas fa-arrow-left me-2"></i>Prev
        </button>
        <button class="btn my-btn btn-nxt me-4 mt-3" mat-button matStepperNext>
          Next<i class="fas fa-arrow-right ms-2"></i>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="otherDetailsFormGroup">
    <form [formGroup]="otherDetailsFormGroup">
      <ng-template matStepLabel>Other Details</ng-template>
      <app-other-details
        [formGroup]="otherDetailsFormGroup"
      ></app-other-details>
      <div>
        <button
          class="btn my-btn btn-prev me-4 mt-3"
          mat-button
          matStepperPrevious
        >
          <i class="fas fa-arrow-left me-2"></i>Prev
        </button>
        <button class="btn my-btn btn-nxt me-4 mt-3" mat-button matStepperNext>
          Next<i class="fas fa-arrow-right ms-2"></i>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="selfDeclarationFormGroup">
    <form [formGroup]="selfDeclarationFormGroup">
      <ng-template matStepLabel>Self Declaration</ng-template>
      <app-self-declaration
        [formGroup]="selfDeclarationFormGroup"
      ></app-self-declaration>
      <div>
        <button
          class="btn my-btn btn-prev me-4 mt-3"
          mat-button
          matStepperPrevious
        >
          <i class="fas fa-arrow-left me-2"></i>Prev
        </button>
        <button class="btn my-btn btn-nxt me-4 mt-3" mat-button matStepperNext>
          Next<i class="fas fa-arrow-right ms-2"></i>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="paymentFormGroup">
    <form [formGroup]="paymentFormGroup">
      <ng-template matStepLabel>Payment</ng-template>
      <app-payment [formGroup]="paymentFormGroup"></app-payment>
      <div>
        <button
          class="btn my-btn btn-prev me-4 mt-3"
          mat-button
          matStepperPrevious
        >
          <i class="fas fa-arrow-left me-2"></i>Prev
        </button>
        <button class="btn my-btn btn-green me-4 mt-3" mat-button type="submit">
          <i class="fas fa-check me-2"></i>Submit
        </button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
