mat-horizontal-stepper {
  background-color: transparent;
}

.my-btn {
  color: white;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.my-btn:hover {
  border-width: 1px;
  font-weight: bold;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.btn-nxt {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-nxt:hover {
  background-color: white;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

.btn-prev {
  background-color: white;
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.btn-prev:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
}

.btn-green {
  background-color: green;
  border-color: green;
}

.btn-green:hover {
  background-color: white;
  border-color: green;
  color: green;
}


