<fieldset class="p-3">
  <legend><b>Self Declaration</b></legend>
  <p>
    I owe allegiance to the sovereignty, unity & integrity of India, and have
    not voluntarily acquired citizenship or travel document of any other
    country. I have not lost, surrendered or been deprived of the citizenship of
    India. I have not contravened any of the conditions relating to the
    possession and use of an Indian passport.
  </p>
  <p>
    I affirm that the information and particulars given by me in this form are
    true and correct. I further state that I am not suppressing any material
    information in this regard. I further affirm that the enclosures and
    documentary proof submitted in support of my application for an Indian
    passport are authentic and solely pertain to me and I am fully responsible
    for the accuracy of the same. I am liable to be penalized or prosecuted if
    found otherwise. I am aware that under the Passports Act, 1967 it is a
    criminal offence to furnish any false information or to suppress any
    material information with a view to obtaining passport or travel document.
  </p>
  <p>
    I have read and understood the contents of the above and by submitting this
    form certify that all the information submitted by me in the form is
    bonafide.
  </p>
  <div class="mb-3">
    <label for="declaration_place" class="form-label"><b>Place:</b></label>
    <input
      type="text"
      class="form-control w-25"
      id="declaration_place"
      name="declaration_place"
      required
    />
  </div>
  <div class="mb-3">
    <label for="declaration_date" class="form-label"><b>Date:</b></label>
    <input
      type="date"
      class="form-control w-25"
      id="declaration_date"
      name="declaration_date"
      required
    />
  </div>
  <div class="mb-3">
    <label for="applicant_signature" class="form-label"
      ><b
        >Upload Signature/ Left Hand Thumb Impression of Applicant (If applicant
        is minor, either parent to sign):</b
      ></label
    >
    <input
      type="file"
      class="form-control w-25 custom-file-input"
      id="applicant_signature"
      name="applicant_signature"
      required
    />
  </div>
  <div class="mb-3">
    <label for="left_hand_thumb_imp" class="form-label"
      ><b
        >Signature/ Left Hand Thumb Impression of Illiterate Applicant and
        Minors who cannot sign:</b
      ></label
    >
    <input
      type="file"
      class="form-control w-25 custom-file-input"
      id="left_hand_thumb_imp"
      name="left_hand_thumb_imp"
      required
    />
  </div>

  <div class="mb-3">
    <label for="applicant_photo" class="form-label"
      ><b
        >Please upload your unsigned recent colour photograph with white
        background of size 4.5cm X 3.5cm:</b
      ></label
    >
    <input
      type="file"
      class="form-control w-25 custom-file-input"
      id="applicant_photo"
      name="applicant_photo"
      required
    />
  </div>

</fieldset>
