<!-- Section 1 -->

<div class="mb-3">
  <label for="service_required" class="form-label"><b>Service Required:</b></label>
  <select
    id="service_required"
    name="service_required"
    class="form-select w-50"
    formControlName="serviceRequired"
    required
  >
    <option value="" disabled selected>Select Service</option>
    <option value="new_passport">New Passport</option>
    <option value="renewal">Renewal</option>
    <option value="reissue">Reissue</option>
    <option value="other">Other</option>
  </select>
</div>



